@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.showcase{
    position:absolute;
    right:0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    transition: 0.8s;
}
.showcase.active{
    right:300px;
}
.showcase header{
    position:absolute;
    width:100%;
    top:0px;
    left: 0px;
    padding:40px 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.toggle{
    display:relative;
    width: 50px;
    height:50px;
    background-image:url('Images-Videos/menu.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
    filter: invert(1);
}
.logo{
    text-transform: uppercase;
    cursor:pointer;
}
.toggle.active{
    background:url('Images-Videos/cancel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.showcase video{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    object-fit:cover;
    opacity:0.9;
}

.overlay{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    background-color:rgb(65, 68, 68);
    mix-blend-mode:overlay;
}
.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 4.2em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    line-height: 0.5em;
    word-spacing: 0.1em;
}
.text h3{
    font-size: 3.2em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    word-spacing: 0.1em;
    letter-spacing: 0.02em;
}
.text p{
    font-size:1.0em;
    width:80%;
    color: white;
    font-weight: light;
    word-spacing: 0.1em;
}
.text a{
    display: inline-block;
    text-decoration: none;
    color:black;
    background:white;
    padding:8px 10px;
    margin-top:10px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 0.2em;
}
.social{
    position: absolute;
    bottom:20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}
.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    filter:invert(1);
    margin-right:20px;
    transform: scale(0.8);
    transition: 0.5s;
}
.social li a:hover{
    transform: scale(0.8) translateY(-15px);
}
@media(max-width:991px){
    .showcase, 
    .showcase header{
        padding: 40px;
    }
    .text h2{
        font-size: 2.5em;
    }
    .text h3{
        font-size: 1.9em;
    }
}
.menu{
    position: absolute;
    top:0px;
    right:0px;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    position: relative;
    list-style: none;
}
.menu li{
    padding: 8px;
}
.menu ul a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-weight: 600;
}
.menu ul a:hover{
    color:rgb(56, 211, 211);
}